#strayersources3ehs-fm01-fig-001 {
	margin-top: 0;
}
#strayersources3ehs-fm01-p54 p {
	margin-top: 2.5em;
}
#strayersources3ehs-fm01-exp4-001 {
    background-color: #fbb157;
}
#strayersources3ehs-fm01-exp4-001 p {
    text-align: right;
    width: 200px;
    margin: 4.5em 1em;
}
#strayersources3ehs-fm01-exp4-001 p [data-block_type="drop"] {
	color: #f15931;
}
#strayersources3ehs-fm01-exp4-002 {
	background-color: #73b0e0;
}
#strayersources3ehs-fm01-exp4-002 p {
	text-align: right;
    width: 200px;
    margin: 6em 1em;
}
#strayersources3ehs-fm01-exp4-002 p [data-block_type="drop"] {
	color: #0867b3;
}
#strayersources3ehs-fm01-exp4-003 {
	background-color: #9ac5b5;
}
#strayersources3ehs-fm01-exp4-003 p {
	text-align: right;
    width: 200px;
    margin: 6em 1em;
}
#strayersources3ehs-fm01-exp4-003 p [data-block_type="drop"] {
	color: #066b2f;
}
#strayersources3ehs-fm01-exp4-004 {
	background-color: #aebde1;
}
#strayersources3ehs-fm01-exp4-004 p {
	text-align: right;
    width: 200px;
    margin: 6em 1em;
}
#strayersources3ehs-fm01-exp4-004 p [data-block_type="drop"] {
	color: #414099;
}
#strayersources3ehs-ch101-table-1 {
    float: right;
    width: 400px;
    margin-right: -200px;
    background-color: #fff4d9;
}
#strayersources3ehs-ch101-table-1 {
    background-color: #fff4d9;
}
#strayersources3ehs-ch101-table-1 tr {
    border-bottom: 1px solid #fbb258;
}
#strayersources3ehs-ch101-table-1 tbody > tr:last-child {
	border-bottom: none;
}
#strayersources3ehs-ch101-table-1 tbody > tr:first-child td {
    text-align: center;
}
#strayersources3ehs-ch101-table-1 tr > td:nth-child(3) {
    text-align: center;
    width: 65px;
}
#strayersources3ehs-fm01-fig-011 {
	clear: right;
}
#strayersources3ehs-ch01-exp5-016, #strayersources3ehs-ch01-exp5-001i {
	background-color: #fcba63;
}
#strayersources3ehs-ch01-exp5-016 p {
	width: 191px;
    margin: 4em 1em;
}
#strayersources3ehs-ch01-exp5-016 [data-block_type="drop"], #strayersources3ehs-ch01-exp5-001i [data-block_type="drop"] {
	color: #f7953d;
}
#strayersources3ehs-ch01-exp5-017, #strayersources3ehs-ch01-exp5-001g {
	background-color: #aebde1;
}
#strayersources3ehs-ch01-exp5-017 [data-block_type="drop"], #strayersources3ehs-ch01-exp5-001m [data-block_type="drop"], #strayersources3ehs-ch01-exp5-001o [data-block_type="drop"] {
	display: none;
}
#strayersources3ehs-ch01-exp5-017 [data-block_type="fm-2-quo-h"] p {
	color: #4f50a2;
}
#strayersources3ehs-ch01-exp5-017 p, #strayersources3ehs-ch01-exp5-001m p {
	text-align: left;
	text-indent: 0;
}
#strayersources3ehs-ch01-exp5-017 [data-type="box_inner"] {
    width: 200px;
    margin: 4.5em 2.75em;
}
#strayersources3ehs-ch01-exp5-001b, #strayersources3ehs-ch01-exp5-001m {
	background-color: #73b0e0;
}
#strayersources3ehs-ch01-exp5-001b p {
	width: 195px;
    margin: 3em .5em;
}
#strayersources3ehs-ch01-exp5-001b [data-block_type="drop"], #strayersources3ehs-ch01-exp5-001m [data-block_type="fm-2-quo-h"] p {
	color: #0867b3;
}
#strayersources3ehs-ch01-exp5-001o p {
	text-indent: 0;
	text-align: left;
}
#strayersources3ehs-ch01-exp5-001e, #strayersources3ehs-ch01-exp5-001o {
	background-color: #9ac5b5;
}
#strayersources3ehs-ch01-exp5-001e p {
	width: 200px;
    margin: 4em .5em;
}
#strayersources3ehs-ch01-exp5-001e [data-block_type="drop"], #strayersources3ehs-ch01-exp5-001o [data-block_type="fm-2-ex-txt"] p {
	color: #066b2f;
}
#strayersources3ehs-ch01-exp5-001g [data-block_type="drop"] {
	color: #4f50a2;
	margin-right: -16px;
}
#strayersources3ehs-ch01-exp5-001g p {
	width: 200px;
    margin: 5em .5em;
}
#strayersources3ehs-fm01-p915 p {
	text-indent: 0;
	margin-left: 1em;
	margin-top: 1em;
}
#strayersources3ehs-ch101-table-2 tbody tr:first-child {
	background-color: #eeedf6;
	border-top: #414099 solid 1px;
	border-bottom: #414099 solid 1px;
}
#strayersources3ehs-ch101-table-2 tbody tr:nth-child(2) {
	background-color: #fde8e7;
	border-bottom: #f7953d solid 1px;
}
#strayersources3ehs-ch101-table-2 tbody tr:nth-child(3) {
	background-color: #e8ecf7;
	border-bottom: #73b0e0 solid 1px;
}
#strayersources3ehs-ch101-table-2 tbody tr:nth-child(4) {
	background-color: #edecdf;
	border-bottom: #fcba63 solid 1px;
}
#strayersources3ehs-ch01-exp5-001i p {
	width: 190px;
	margin: 5em .5em;
}
#strayersources3ehs-ch101-table-3 tbody tr:first-child {
	background-color: #edecdf;
	border-bottom: #414099 solid 1px;
}
#strayersources3ehs-ch101-table-3 tbody tr:nth-child(2) {
	background-color: #eeedf6;
	border-bottom: #414099 solid 1px;
}
#strayersources3ehs-ch101-table-3 tbody tr:nth-child(3) {
	background-color: #eeedf6;
	border-bottom: #f7953d solid 1px;
}
#strayersources3ehs-ch101-table-3 tbody tr:nth-child(4) {
	background-color: #e8ecf7;
	border-bottom: #73b0e0 solid 1px;
}
#strayersources3ehs-ch101-table-3 tbody tr:nth-child(5) {
	background-color: #edecdf;
	border-bottom: #fcba63 solid 1px;
}
#strayersources3ehs-ch101-table-3 tbody tr:nth-child(6) {
	background-color: #deefe3;
	border-bottom: #9ac5b5 solid 1px;
}
#strayersources3ehs-ch101-table-3 tbody tr:nth-child(7) {
	background-color: #fde9f1;
	border-bottom: #ec008c solid 1px;
}
#strayersources3ehs-fm01-list-017 {
    margin-top: .5em;
    list-style-type: none;
    counter-reset: li;
}
#strayersources3ehs-fm01-list-017 li:before {
	content: counter(li, decimal) ".";
    counter-increment: li;
    line-height: 1.3;
    margin-left: -1.5em;
    position: absolute;
    color: #ffffff;
}
#strayersources3ehs-ch01-exp5-001m {
	width: 300px;
	height: 300px;
}
#strayersources3ehs-ch01-exp5-001m [data-type="box_inner"] {
	width: 200px;
	margin: 4em;
}
#strayersources3ehs-ch01-exp5-001o li {
	color: #ffffff;
}
#strayersources3ehs-ch01-exp5-001o [data-type="box_inner"] {
	width: 199px;
	margin: 3em;
}