#strayersources3ehs-ch01-exp2-001 {
	margin-top: -62px;
}
#strayersources3ehs-ch01-bx1-011 {
	clear: right;
	width: 625px;
}
#strayersources3ehs-ch01-bx1-001o {
	margin-top: -57px;
}
#strayersources3ehs-ch01-bx1-001p {
	margin-top: -30px;
}